# Configuration for PHPStan
# https://phpstan.org/config-reference

includes:
	# Include extension for WordPress
	- wme-sitebuilder/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true

	# Define global constants.
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
		- wme-sitebuilder/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- wme-sitebuilder/vendor/wpackagist-plugin/woocommerce-paypal-payments/vendor/autoload.php

	# Files that aren't autoloaded but should be considered.
	scanFiles:
		- wme-sitebuilder/vendor/wpackagist-plugin/woocommerce-gateway-stripe/woocommerce-gateway-stripe.php
		- wme-sitebuilder/vendor/wpackagist-plugin/woocommerce-gateway-stripe/includes/connect/class-wc-stripe-connect.php

	# Paths to be analyzed.
	paths:
		- wme-sitebuilder.php
		- wme-sitebuilder/
	excludePaths:
		- wme-sitebuilder/vendor/

	# Additional checks.
	polluteScopeWithLoopInitialAssignments: true
	polluteScopeWithAlwaysIterableForeach: true
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	reportMaybesInMethodSignatures: true
	reportStaticMethodSignatures: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingIterableValueType: false

	# Unfortunately, DocBlocks can't be relied upon.
	treatPhpDocTypesAsCertain: false

	# Error patterns that should be ignored.
	ignoreErrors:
		# Uses func_get_args()
		- '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'

		# WordPress coding standards dictate that we *not* use @return void
		# TODO One can still add @phpstan-return void
		- '#has no return type specified\.$#'
